name: CI App
run-name: check app - ${{ github.repository }}

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
    paths:
      - 'app/**'

jobs:
  test-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: |
         python3 -m pip install -r app/requirements.txt
         
      - name: Run pytest
        run: |
         cd app && python3 -m pytest

  push-registry:
    runs-on: ubuntu-latest
    needs: test-code
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
            
       
      - name: image/tag name
        run: |
          IMAGE="ghcr.io/${{ github.repository }}"
          echo "IMAGE_NAME=${IMAGE,,}" >> $GITHUB_ENV
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            TAG=${GITHUB_REF#refs/tags/}
          else
            TAG=latest
          fi
          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV

      - name: Build and Push Docker image
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG ./app
          docker push $IMAGE_NAME:$IMAGE_TAG
